<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageName }}</title>
    <link rel="icon" href="/img/Ticketclaw Square Logo.png" alt="ticketclaw.com">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <div class="banner-container">
            <img src="{{{ imagePath }}}" alt="Ticketclaw Banner" class="banner-image">
            <div class="custom-paragraph-overlay">
                <p>Coming August 2024
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/ticketclaw" target="_blank">
                        <img src="/img/facebook.svg" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/Ticket_Claw" target="_blank">
                        <img src="/img/instagram.svg" alt="Instagram">
                    </a>
                    <a href="https://twitter.com/ticketclaw" target="_blank">
                        <img src="/img/twitter.svg" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
    
        <form class="subscription-form" action="/subscribe" method="post">
            <input class="custom-input" placeholder="First Name" type="text" id="firstName" name="firstName" required><br>
            <input class="custom-input" placeholder="Last Name" type="text" id="lastName" name="lastName" required><br>
            <input class="custom-input" placeholder="Email" type="email" id="email" name="email" required><br>
            <button type="submit">Be the First to Know</button>
        </form>
    </div>
    <script>
        console.log('Title:', {{ title }});
    </script>

    <script src="/js/app.js"></script>
</body>
</html>



