<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickeclaw</title>
    <link rel="icon" href="/img/Ticketclaw Square Logo.png" alt="ticketclaw.com">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <div class="banner-container">
            <img src="/img/Banner Logo - Transparent.png" alt="Ticketclaw Banner" class="banner-image">
            <div class="custom-paragraph-overlay">
                <p>Coming August 2024
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/ticketclaw" target="_blank">
                        <img src="/img/facebook.svg" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/Ticket_Claw" target="_blank">
                        <img src="/img/instagram.svg" alt="Instagram">
                    </a>
                    <a href="https://twitter.com/ticketclaw" target="_blank">
                        <img src="/img/twitter.svg" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
    
        <form class="subscription-form" action="/subscribe" method="post">
            <button type="submit">Be the First to Know</button><br>
            <input class="custom-input" placeholder="(email)" type="email" id="email" name="email" required>
        </form>
    </div>
    <script>
        var title = document.title;
        console.log('Title:', title );
    </script>

    <script src="/js/app.js"></script>
</body>
</html>



